<div class="dash-info row">
  <div class="col-auto">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large", alt: "avatar image" %>
  </div>
  <div class="col" id="dash-details">
    <h1><%= current_user.name %></h1>
    <div class="d-flex align-items-center">
      <i class="fa-sharp fa-solid fa-location-arrow" style="color: #000000;"></i>
      <h2 class="ms-2"><%= current_user.neighbourhood %></h2>
    </div>
  </div>
</div>
<br>

<div class="container">

  <h1>My Tickets</h1>

  <% @tickets.each do |ticket| %>
  <h2>Ticket Status: <%= link_to ticket.status, ticket_path(ticket) %></h2>

  <p> <%= ticket.report.title  %></p>
  <% ticket.report.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 90, width: 120, crop: :fill %>
  <% end %>
  <% end %>


<h1>Reports I Follow</h1>
  <% current_user.follows.each do |follow| %>
  <%= follow.report.title  %>
  <% follow.report.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 90, width: 120, crop: :fill %>
  <% end %>
  <% end %>




</div>
