<div class="dash-info row">
  <div class="col-auto">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large", alt: "avatar image" %>
  </div>
  <div class="col" id="dash-details">
    <h1><%= current_user.name %></h1>
    <div class="d-flex align-items-center">

      <h2 class=""><i class="fa-sharp fa-solid fa-location-arrow" style="color: #6b6b6b;"></i>  <%= current_user.neighbourhood %></h2>
    </div>
  </div>
</div>
<br>

<div class="container">
  <h2>My Reports</h2>
  <% current_user.reports.each do |report| %>
    <div class="no-underline">
      <%= link_to report_path(report) do %>
        <div class="card-report mb-3">
          <% report.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'img' %>
          <% end %>
          <div class="card-report-infos">
            <h2><%= report.title %></h2>
            <p><%= report.description %></p>
            <div class="d-flex col-auto">
              <p class="justify-content-begin col"><strong><%= report.status %></strong></p>
              <p class="justify-content-end col"><strong>Votes: <%= report.votes %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h2>My Tickets</h2>

  <% @tickets.each do |ticket| %>
  <h2>Ticket Status: <%= link_to ticket.status, ticket_path(ticket) %></h2>

  <p> <%= ticket.report.title  %></p>
  <% ticket.report.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 90, width: 120, crop: :fill %>
  <% end %>
  <% end %>


<h1>Reports I Follow</h1>
  <% current_user.follows.each do |follow| %>
  <%= follow.report.title  %>
  <% follow.report.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 90, width: 120, crop: :fill %>
  <% end %>
  <% end %>




</div>
