 <div class="navbar-footer">
      <%= link_to "/reports", :class => current_page?("/reports") ? 'current' : '' do %>
        <div class="footer-button">
          <i class="fa-regular fa-map"></i>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "/dashboard", :class => current_page?("/dashboard") ? 'current' : '' do %>
          <div class="footer-button">
            <i class="fa-regular fa-circle-user"></i>
          </div>
        <% end %>
      <% else %>
      <% end %>

      <%= link_to new_report_path, :class => current_page?(new_report_path) ? 'current' : '' do %>
        <div class="footer-button new-report-button">
          <i class="fa-regular fa-star"></i>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "/dashboard", :class => current_page?("/dashboard") ? 'current' : '' do %>
          <div class="footer-button">
            <i class="fa-regular fa-circle-check"></i>
          </div>
        <% end %>
      <% else %>
      <% end %>

      <div class="btn-group dropup">
        <% if user_signed_in? %>
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="footer-button">
              <%= cl_image_tag current_user.photo.key, class: "avatar-navbar-footer" %>
            </div>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit profile</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
          </ul>
        <% else %>
          <%= link_to "Login", new_user_session_path, :class => current_page?(new_user_session_path) ? 'current' : '' %>
        <% end %>
      </div>

</div>
