  <% @reports_active.each do |report| %>
    <div class="no-underline">
      <%= link_to report_path(report) do %>
        <div class="card-report mb-4">
          <% report.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'img' %>
          <% end %>
          <div class="card-report-infos">
            <div class="report-div-userinfo">
              <p id="submit-p"><strong>By: <%= report.user.name %></strong></p>
              <%= cl_image_tag report.user.photo.key, class: "avatar-report-card" %>
              <%# raise %>
            </div>
            <div class="report-card-content">
              <h2><%= report.title %></h2>
              <p><%= report.description %></p>
              <div class="d-flex col-auto">
                <p class="justify-content-end col"><i class="fa-regular fa-bookmark primary"></i> <strong>Followers: <%= report.follows.count %></strong></p>
                <p class="justify-content-begin col"><strong><%= report.status %></strong></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
