  <% @reports.each do |report| %>
    <div class="no-underline">
      <%= link_to report_path(report) do %>
        <div class="card-report mb-3">
          <% report.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'img' %>
          <% end %>
          <div class="card-report-infos">
            <div>
              <p id="submit-p"><strong>Submitted by: <%= report.user.name %></strong></p>
            </div>
            <h2><%= report.title %></h2>
            <p><%= report.description %></p>
            <div class="d-flex col-auto">
              <p class="justify-content-begin col"><strong><%= report.status %></strong></p>
              <p class="justify-content-end col"><strong>Followers: <%= report.follows.count %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
