<div class="container">
  <h1 class="my-5" >Your Neighbourhood Journal</h1>
    <div class="col-auto text-center my-5">
      <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar image" %>
    </div>
  <div class="text-center" >
    <p class="fa-solid">🎉</p>
  </div>

  <h2 class="text-center mb-5">Congratulations! <%= current_user.name %></h2>
  <h3 class="text-center my-5"> You just completed </h3>

    <% @reports.each do |report| %>
      <div class="cards mt-3 mx-4">
      <%= link_to report_path(report) do %>
        <div class="card-category"  style="background-image: url(<%= report.photos.map { |photo| cl_image_path(photo.key) }.join(', ') %>)">
          <%= report.title %>
        </div>
        <% end %>
      </div>
    <% end %>
  <div class="col-auto text-center mt-5">
    <h4 class="text-center my-5">Would you like to pick another report?</h4>
    <%= link_to "Next Task", reports_path, class: "col-3 btn btn-primary rounded-pill btn-lg text-center" %>
  </div>
   <div style="height: 95px">
  </div>
</div>
