<div>
  <% @ticket.report.photos.each do |photo| %>
    <%= cl_image_tag photo.key, class: "ts-rep-img-size", crop: :fill %>
  <% end %>
</div>
<div class="container">
  <div class="d-flex justify-content-begin mt-4 mb-2">
    <h2><%= @ticket.report.title %></h2>
  </div>
  <p><strong>Report Description: </strong><%= @ticket.report.description %></p>
  <h3>Ticket Status: <%= @ticket.status %></h3>
  <br>
  <% if @ticket.notes.count != 0 %>
    <h4>Notes: </h4>
    <% @ticket.notes.each do |note| %>
      <div class="no-underline">
        <div class="card-report mb-3">
          <% if note.photos.count != 0 %>
            <div class="ticket-img">
              <% note.photos.each do |photo| %>
                <%= cl_image_tag photo.key, class: 'img' %>
              <% end %>
            </div>
          <% end %>
          <div class="card-report-infos flex-grow">
            <div>
              <p id="submit-p"><strong>Posted <%= time_ago_in_words(note.created_at) %> ago</strong></p>
            </div>
            <p><%= note.description %></p>
            <div id="delete-note-btn" class="d-flex justify-content-end align-items-end">
              <%= link_to note_path(note), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash align-self-end btn mt-3 btn btn-outline-secondary rounded-pill btn-sm px-3" style="color: #0E0000"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  <% end %>

  <button type="button" class="ticket-collapse btn btn-outline-primary rounded-pill btn-lg px-3">Add an Update</button>
  <div class="ticket-content">
    <div class="form-container" >
      <%= simple_form_for [@ticket, @note] do |f| %>
        <%= f.input :description, label: "Leave a note", :input_html => {:style=> '', class: 'rounded-4'} %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, :input_html=> { multiple: true, :style=> '', class: 'rounded-4'} %>
        <%= f.submit "Submit note", class: "btn btn-primary rounded-pill btn-lg px-3" %>
      <% end %>
      <br><br>
    </div>
  </div>

  <br>
  <div class="row mx-1">
    <%= link_to "Back", report_path(@ticket.report), class: "col-3 btn btn-outline-primary rounded-pill btn-lg " %>
    <div class="col-1"></div>
      <button type="button" class="col-8 btn btn-primary rounded-pill btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">I've Done This!
  </button>
  </div>
</div>
<div class="footer-padding" style="height: 200px"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Close Ticket</button>
      </div>
      <div class="modal-body">
      You've completed a ticket
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to "close ticket", close_ticket_path(@ticket) %>
      </div>
    </div>
  </div>
</div>

<script>
var coll = document.getElementsByClassName("ticket-collapse");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
