<div class="container">
  <h1>All reports</h1>
  <%= link_to "New report", new_report_path, class: 'btn btn-primary rounded-pill' %>

  <% @reports.each do |report| %>
    <%= link_to report_path(report) do %>
      <div class="card-report mb-3">
        <% report.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: 'img' %>
        <% end %>
        <div class="card-report-infos">
          <h2><%= report.title %></h2>
          <p><%= report.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
