<div>
  <% @report.photos.each do |photo| %>
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <%= cl_image_tag photo.key, class: "rs-img-size", crop: :fill %>
    </a>
  <% end %>
</div>


<div class="container mt-3">
  <div class="rs-votes row">
    <div class="col-6 d-flex justify-content-start mb-2">
      <% if @follow %>
      <%= link_to "Unfollow Report", follow_path(@follow), class: "btn btn-outline-primary rounded-pill btn-sm px-3 ", data: {turbo_method: :delete} %>
      <% else %>
      <%= simple_form_for [@report, Follow.new] do |f| %>
        <%= f.submit "Follow Report", class: "btn btn-outline-primary rounded-pill btn-sm px-3 " %>
      <% end %>
      <% end %>
    </div>
    <div class="col-6">
      <p class="rs-text-right"><%= @report.follows.count %> Followers</p>
    </div>
  </div>
  <h2 class="mt-2"><%= @report.title %></h2>
  <p><%= @report.description %></p>
  <div>
    <% if @report.tickets.count != 0 %>
      <div>
        <div class="activity-card">
          <div class="d-flex justify-content-begin">
            <h5>Progress</h5>
          </div>
          <div>
            <% @report.tickets.each do |ticket| %>
              <p><%= ticket.user.name %> started working on this <%= time_ago_in_words(ticket.created_at) %> ago</p>
              <% if ticket.status == "Done" %>
                <p><%= ticket.user.name %> finished this report</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <h3>No one has claimed this report yet!</h3>
    <% end %>
  </div>
  <br>
  <div>
    <div style="width: 100%; height: 200px;" class="mb-3" id="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <p><strong>Location: </strong><%= @report.location %></p>
    <p><strong>Report Type: </strong><%= @report.category %></p>
    <div class="row">
      <div class="col-6">
      <p><strong>Status: </strong><%= @report.status %></p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <% if !@report.tickets.map(&:user).include?(current_user) %>
          <%= simple_form_for [@report, @ticket] do |f| %>
            <%= f.submit "Claim report", class: "btn btn-primary rounded-pill px-3" %>
          <% end %>
          <% else %>
            <%= link_to "Unclaim Report",
              ticket_path(@report.tickets.first),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn btn-outline-secondary rounded-pill px-3"
            %>
        <% end %>
      </div>
    </div>
  </div>


  <% if @report.comments.count != 0 %>
    <br>
    <h4>Comments:</h1>
    <% @report.comments.each do |comment| %>
      <div class="rs-comment-box">
        <p><strong>User: <%= comment.user.name %></strong><br><%= comment.description %><br><%= comment.created_at.to_formatted_s(:short) %></p>
      </div>
    <% end %>
  <% end %>


  <%= simple_form_for [@report, @comment] do |f| %>
    <%= f.input :description, label: "Leave a comment", :input_html => {:style=> '', class: 'rounded-4'} %>
    <%= f.submit "Submit comment", class: "btn btn-outline-primary rounded-pill px-3 mb-3" %>
  <% end %>

  <%= link_to "Back", reports_path, class: "btn btn-outline-secondary rounded-pill px-3" %>
  <% if @report.user == current_user %>
  <%= link_to "Edit", edit_report_path(@report), class: "btn btn-outline-secondary rounded-pill px-3" %>
  <% end %>
</div>
<div class="footer-padding" style="height: 200px"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= cl_image_tag @report.photos.first.key, class: "modal-img", crop: :fill %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
