<h2><%= @report.title %></h2>

<p><%= @report.description %></p>
<p><%= @report.location %></p>
<p><%= @report.category %></p>
<p><%= @report.status %></p>
<% @report.photos.each do |photo| %>
  <%# photo.key %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= simple_form_for [@report, @ticket] do |f| %>
  <%= f.submit "Claim report" %>
<% end %>

<% @report.comments.each do |comment| %>
<p><%= comment.description %></p>
<% end %>

<%= link_to "Leave a comment", new_report_comment_path(@report) %> |
<%= link_to "Back", reports_path %> |
<%= link_to "Edit", edit_report_path(@report) %> |
<%= link_to "Delete",
  report_path(@report),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
