<!DOCTYPE html>
<html>
  <head>
    <title>Ourneighbourhood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%# This div is bumping down the length of the page so that the navbar does not hide any content %>
    <% if user_signed_in? %>
      <div style="height: 80px"></div>
      <%= render "shared/navbar_footer" %>
    <% else %>
    <% end %>
  </body>
</html>
